.container > p {
	width: 100%;
	text-align: center;
}

#setBuilder .editMode .readyMode {
	display: none;
}

#setBuilder .readyMode .editMode, #setBuilder .readyMode .editFields {
	display: none;
}

#setBuilder .panel-heading {
	position: relative;
	z-index: 10;
}

#setBuilder .panel-heading .setTitleEdit {
	width: 340px;
	margin: -1px 0 -3px -2px;
}

#setBuilder .panel-heading button {
	position: absolute;
	top:0;
	right: 0;
	padding: 9px 50px;
	z-index: 5;
}

#setBuilder .panel-heading .collapser {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#setBuilder .panel-heading a {
	text-decoration: none;
}

#setBuilder .panel-heading .collapser .glyphicon {
	color: #333;
	position: absolute;
	top: 13px;
	right: 180px;
}

#setBuilder .panel-heading .collapser .glyphicon-chevron-right {
	display: none;
}

#setBuilder .panel-heading .collapsed .collapser .glyphicon-chevron-right {
	display: block;
}

#setBuilder .panel-heading .collapsed .collapser .glyphicon-chevron-down {
	display: none;
}

#setBuilder button {
	margin-left: 10px;
}

#setBuilder input {
	width: 28px;
}

#setBuilder #dieCount {
	text-align: right;
}

.set .panel {
	padding: 0;
}

.dieContainer .panel {
	margin: 0;
	position: relative;
	border-radius: 0;
}

.dieContainer .dieSet .modBox {
	width: 80px;
	position: absolute;
	padding-top: 13px;
	right: 0;
	display: block;
	z-index: 10;
}

.dieContainer .dieSet:hover .modBox {
	display: block;
}

#setBuilder .dieContainer .dieSet .modBox button {
	margin: 0;
}

#setBuilder .dieContainer .dieSet .modBox .close {
	margin: 4px 10px 0 0;
}

#setBuilder .dieContainer .dieSet .modBox .editAdvanced {
	padding: 6px 8px;
	margin-left: 15px;
}

.dieContainer .dieSet .modPanel {
	padding-top: 0;
	display: none;
}

.dieContainer .dieSet .modPanel.active {
	display: block;
}

#setBuilder .modPanel button {
	margin-left: 0;
}

#dieType {
}

#resultsContainer .panel-heading {
	position: relative;
}

#resultsContainer .panel-heading button {
	position: absolute;
	top:0;
	right: 0;
	padding: 9px 40px;
}

.setOptions {
	margin: 0 0 15px 0;
}

#resultsContainer .panel-heading .attackHit {
	right: 110px;
	padding: 9px 46px;
}

#resultsContainer .attackResult {
	font-weight: bold;
	font-size: 20px;
	left: 78px;
	top: 5px;
	position: absolute;
}

#rollBreakdown {
	width: 100%;
}

#set1Collapse {
	padding: 15px 15px 10px;
}

#set1Collapse > .panel {
	margin-bottom: 10px;
}

.set {
	margin-bottom: 15px;
}

.setActions {
	width: 169px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0;
}

#setBuilder .setActions .close {
	padding: 0;
	margin: 0;
	right: 15px;
	top: 10px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	min-height: 100%;
	position: relative;
}

#body {
	padding-bottom: 20px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: 12px;
}