.container > p {
	width: 100%;
	text-align: center;
}

#setBuilder.editMode .readyMode {
	display: none;
}

#setBuilder.readyMode .editMode, #setBuilder.readyMode .editFields {
	display: none;
}

#setBuilder .panel-heading {
	position: relative;
	z-index: 10;
}

#setBuilder .panel-heading button {
	position: absolute;
	top:0;
	right: 0;
	padding: 9px 50px;
}

#setBuilder button {
	margin-left: 10px;
}

#setBuilder input {
	width: 28px;
}

#setBuilder #dieCount {
	text-align: right;
}

.set .panel {
	padding: 0;
}

.dieContainer .panel {
	margin: 0;
	position: relative;
	border-radius: 0;
}

.dieContainer .close {
	position: absolute;
	bottom: 13px;
	right: 10px;
}

#dieType {
}

#rtBonus {
	background-color: #e8e8e8;
}

#resultsContainer .panel-heading {
	position: relative;
}

#resultsContainer .panel-heading button {
	position: absolute;
	top:0;
	right: 0;
	padding: 9px 40px;
}

#resultsContainer .panel-heading .attackHit {
	right: 110px;
	padding: 9px 46px;
}

#resultsContainer .attackResult {
	font-weight: bold;
	font-size: 20px;
	left: 78px;
	top: 5px;
	position: absolute;
}

#rollBreakdown {
	width: 100%;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	min-height: 100%;
	position: relative;
}

#body {
	padding-bottom: 20px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
}

#footer p {
	margin: 0;
	text-align: center;
	font-size: 12px;
}